
<div class="page-header-wrapper">
    <h1>THÊM SẢN PHẨM MỚI</h1>
</div>

<div class="page-content-wrapper">
    {{#if errors}}
        {{#each errors}}
            <div class="alert alert-warning alert-dismissible fade show" role="alert" style="font-size: 2rem;">
                <strong>{{this}}</strong>Bạn nên kiểm tra lại
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {{/each}}
    {{/if}}
    <div class="form-container">
        <form id="create-product-form" method="POST" enctype="multipart/form-data">
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label for="product-name" class="form-label">Tên sản phẩm</label>
                    <input type="text" class="form-control" id="product-name" name="product_name" value="{{oldData.product_name}}" required>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="product-code" class="form-label">Mã sản phẩm</label>
                    <input type="text" class="form-control" id="product-code" name="product_code" required>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="product-type" class="form-label">Ngành hàng</label>
                    <select class="custom-select" id="product-type" name="product_type" required>
                        <option selected disabled value="">
                            Chọn
                        </option>
                        <option>Dược phẩm</option>
                        <option>Chăm sóc sức khỏe</option>
                        <option>Chăm sóc cá nhân</option>
                        <option>Sản phẩm tiện lợi</option>
                        <option>Thực phẩm chức năng</option>
                        <option>Mẹ và bé</option>
                        <option>Chăm sóc sắc đẹp</option>
                        <option>Thiết bị y tế</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-4 mb-4">
                    <label for="product-maker" class="form-label">Nhà sản xuất</label>
                    <input type="text" class="form-control" id="product-maker" name="product_maker" value="{{oldData.product_maker}}" required>
                </div>
                <div class="col-md-4 mb-4">
                    <label for="product-maker__place" class="form-label">Nước sản xuất</label>
                    <select class="custom-select" id="product-maker__place" name="product_maker_place" required>
                        <option selected disabled value="">
                            Chọn
                        </option>
                        <option>Việt Nam</option>
                        <option>Anh</option>
                        <option>Đức</option>
                        <option>Pháp</option>
                        <option>Trung Quốc</option>
                        <option>Mỹ</option>
                        <option>Nhật</option>
                        <option>Hàn Quốc</option>
                        <option>Nga</option>
                    </select>
                </div>
                <div class="col-md-4 mb-4">
                    <label for="product-brand" class="form-label">Thương hiệu</label>
                    <select class="custom-select" id="product-brand" name="product_brand" required>
                        <option selected disabled value="">
                            Chọn
                        </option>
                        <option>Pharmacity</option>
                        <option>Durex</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-12 mb-3">
                    <label for="product-description" class="form-label">Mô tả sản phẩm</label>
                    <textarea class="form-control" id="product-description" name="product_description" required>{{oldData.product_description}}</textarea>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-4 mb-4">
                    <label for="product-quantity" class="form-label">Số lượng</label>
                    <input type="text" class="form-control" id="product-quantity" name="product_quantity" value="{{oldData.product_quantity}}" required>
                </div>
                <div class="col-md-4 mb-4">
                    <label for="product-MFG" class="form-label">NSX</label>
                    <input type="date" class="form-control" id="product-MFG" name="product_MFG" value="{{oldData.product_MFG}}" required>
                </div>
                <div class="col-md-4 mb-4">
                    <label for="product-expired" class="form-label">HSD</label>
                    <input type="date" class="form-control" id="product-expired" name="product_expired" value="{{oldData.product_expired}}" required>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-4 mb-4">
                    <label for="product-price__in" class="form-label">Giá nhập</label>
                    <input type="text" class="form-control" id="product-price__in" name="product_price_in" value="{{oldData.product_price_in}}" required>
                </div>
                <div class="col-md-4 mb-4">
                    <label for="product-price__out" class="form-label">Giá bán</label>
                    <input type="text" class="form-control" id="product-price__out" name="product_price_out" value="{{oldData.product_price_out}}" required>
                </div>
            </div>
            <div class="input-group">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="product-image" name="product_img" required>
                    <label class="custom-file-label form-label" for="product-image">Tải ảnh lên...</label>
                </div>
            </div>
            {{!-- Submit button and trigger modal --}}
            <button class="btn btn-primary" type="button" id="create-btn" data-toggle="modal" data-target="#confirmModal">Tạo</button>
            <a  href="/" class="btn btn-danger" type="button" id="cancel-create__btn">Hủy</a>



            <!-- Modal -->
            <div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="confirmModalLabel">Xác nhận</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    Bạn có xác nhận thêm sản phẩm này vào kho
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger confirm-btn" data-dismiss="modal">Hủy</button>
                    <button type="submit" class="btn btn-primary cancel-btn">Xác nhận</button>
                  </div>
                </div>
              </div>
            </div>
        </form>
    </div>
</div>